<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contato</title>
</head>
<body>
    <form action="/contato" method="post">
        <label for="nome">nome</label>
        <input type="text" name="nome">

        <label for="email">email</label>
        <input type="text" name="email">

        <label for="assunto">assunto</label>
        <input type="text" name="assunto">

        <label for="mensagem">mensagem</label>
        <input type="text" name="mensagem">

        <button type="submit">Enviar</button>
    </form>
    <a href="/">voltar</a>
</body>
</html>