<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>

<body>
    <form action="/sugestao" method="get">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="">

        <label for="ingredientes">ingredientes</label>
        <input type="text" name="ingredientes" id="">

        <button type="submit">Enviar</button>
    </form>

    <br>

    <a href="/contato">contato</a>
    <a href="/api/lanches">api</a>
</body>

</html>